<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.5" targetFramework="net4" />
  <package id="NUnit" version="3.4.1" targetFramework="net4" />
  <package id="Selenium.Support" version="2.53.1" targetFramework="net4" />
  <package id="Selenium.WebDriver" version="2.53.1" targetFramework="net4" />
  <package id="WebDriverChromeDriver" version="2.10" targetFramework="net4" />
</packages>